/*fonts
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/

body {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #202020;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

header {
  margin: 40px 0 0;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  position: relative;
  padding-bottom: 16px;
}

header:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: red;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

.card:hover {
  transition: all 0.2s ease-out 0.1s;
  transform: scale(1.02);
}

.main-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

h2 {
  color: gray;
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  margin: auto 20px auto 0;
}

.filter-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}

.filter {
  padding: 8px 18px;
  margin: 0 5px;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background: none;
  transition: all 0.2s ease-out 0.1s;
}

.filter:hover {
  color: #202020;
  background: white;
  transition: all 0.2s ease-out 0.1s;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

.card {
  background-color: white;
  margin-bottom: 25px;
  width: calc(33.3% - 26px);
  transition: all 0.2s ease-out 0.1s;
}

.row-container .card {
  margin-left: 13px;
  margin-right: 13px;
}

.card-img {
  height: 300px;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
}

.title {
  font-family: 'Playfair Display', serif;
  padding: 20px 10px;
  color: black;
  font-size: 1.8em;
  text-align: center;
  position: relative;
}

.card .title:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: gray;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 10px;
}

.tag {
  padding: 8px 10px;
  margin: 0 5px;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  color: gray;
}


/*recipe pages only*/

.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  color: white;
}

.recipe-name {
  width: 50%;
  color: white;
  font-family: 'Playfair Display', serif;
  background-image:url(images/recipe-1.jpg);
}

.serving-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.serving {
  padding: 20px 50px;
}




@media (max-width: 1024px){
    .card {
        width: calc(50% - 26px);
    }    

}

@media (max-width: 767px){
    .card {
        width: 100%;
        margin: 0 auto 26px;
       
    }    

}
